@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.active{
   
  border-bottom : 4px solid black
}

.index{
  z-index: 10;
}
.hideinmoble{
  display: block;
}

@media screen and (min-width: 480px) {
 .mblock{
  display : block;
 }
} 
@media screen and (max-width: 480px) {
 
 .hideinmoble{
  display: none !important;
 }
} 